.about {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4rem auto;
  max-width: 1200px;
}

.about__image-container {
  max-width: 600px;
}

.about__image-caption {
  padding: 1rem;
  text-align: center;
}

.about__blurb-container {
  padding: 1rem;
}

.about__blurb {
  color: #fff;
  line-height: 1.5;
}