.album__page-container {
  padding: 1rem;
}

.album__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.album__art, .album__audio-player {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .album__art, .album__audio-player {
    width: 50%;
  }
}
