.player {
  background-color: #333333;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: .5rem;
  width: 100%;
  z-index: 1;
}

.player__album-art {
  height: 100px;
  width: 100px;
  margin-right: .5rem;
}

.player__album-art img {
  margin: 0;
}

.player__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
}

.player__active-track-info {
  display: flex;
  justify-content: space-between;
}

.player__controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .4rem 3rem;
  width: 250px;
}

.player__progress {
  display: flex;
  justify-content: space-between;
}
